doctype html
html
  head
    title login
    body






        - var x = 5;
             div
                  ul
                     - for (var i=1; i<=x; i++) {
                            a(href=backer)
                                li Hello
                         - }
        
        
 
 
  img(src="images/picforjade.jpg")